@page
@model Web.Pages.SuppliersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Suppliers</h1>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Company Name</th>
            <th>Country</th>
            <th>Phone</th>
        </tr>
        </thead>

        <tbody>
        @if (Model.Suppliers is not null)
        {
            @foreach (var supplier in Model.Suppliers)
            {
                <tr>
                    <td>@supplier.CompanyName</td>
                    <td>@supplier.Country</td>
                    <td>@supplier.Phone</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<div class="row">
    <p>Enter details for a new supplier:</p>
    <form method="post">
        <div class="mb-3">
            <input asp-for="Supplier.CompanyName" placeholder="Company Name" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <input asp-for="Supplier.Country" placeholder="Country" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <input asp-for="Supplier.Phone" placeholder="Phone" class="form-control" type="text">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>